<a href="https://colab.research.google.com/github/smao11/smao11/blob/master/Lectures_1_2_A_fast_paced_(re)introduction_to_Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lectures 1/2: A fast-paced (re)introduction to Python 3

_This notebook is a derivative work of ["Introduction to Python 3"](https://colab.research.google.com/drive/1u2JiL4uyXaPbRN1jAHpgbqY1TIWSHtj9) by [Luca de Alfaro](https://sites.google.com/a/ucsc.edu/luca/), used under [CC BY-NC 4.0](https://creativecommons.org/licenses/by-nc/4.0/).  This notebook is licensed under [CC BY-NC 4.0](https://creativecommons.org/licenses/by-nc/4.0/) by [Lindsey Kuper](https://users.soe.ucsc.edu/~lkuper/)._

**Tip:** You can instantly make your own interactive copy of this notebook using [Google Colaboratory](https://colab.research.google.com/notebooks/welcome.ipynb).  Just click on "File > Save a copy in Drive..." and then go play with your own copy!

## Integers, floats, strings, booleans, and ... None!

In Python there are numbers, which can be of integer or float type.

In [0]:
x = 1 # int
y = 1. # float

You can sum, multiply, and subtract numbers, and the result is integer if and only if both operands are integers.

In [0]:
x + y

2.0

In [0]:
x + 1

2

In Python 3, division between integers generates a float.  This remedies a long-standing "gotcha" in Python 2, where 1 / 2 = 0, because division between integers returned an integer: the result of integer division.

In [0]:
x/2

0.5

In Python 3, integer division is written `//`, and remainder is written `%`.

In [0]:
7 // 3

2

In [0]:
7 % 3

1

There are also strings in Python.  They can be delimited with either double quotes, like `"this"`, or single quotes, like `'this'`.

In [0]:
s = 'A string'
t = "It's nice to be able to choose the delimiters"
t

"It's nice to be able to choose the delimiters"

Another primitive data type is booleans.  There are two values of boolean type: `True` and `False`.

In [0]:
b = True
not b

False

Comparison operators such as `<` and `==` have boolean result:

In [0]:
4 < 8

True

In [0]:
4 == 8

False

There's a special value in Python that means "no value".  It's called `None`.

In [0]:
c = None
print(c)

None

In [0]:
type(c)

NoneType

It might seem odd to have a value for denoting no value, but it turns out 
to be incredibly useful.  For instance, it is very often the case that you 
want a function to return some result if it exists, but also have a way of indicating that there is no result.

`None` is also commonly used to denote that an option is not used, or that a variable has not been initialized.  We will see more examples of it later.

The operators `+`, `-`, `*`, and `/` can also be used with the following shorthand:

In [0]:
x = 2
x = x + 1
x += 1 # Same as above
print(x)
x *= 3 # What does this do? 
print(x)

4
12

## Lists and tuples

### Lists

Lists are one of the built-in data types in Python.

In [0]:
l = ['a', 'b', 'c']
l

['a', 'b', 'c']

Lists are 0-indexed:

In [0]:
l2 = ['cat', 'dog', 'bird']
l2[0]

'cat'

In [0]:
l2[1]

'dog'

### List slicing

You can slice (that's a technical term) the beginning and end of a list:

In [0]:
l = ['cat', 'dog', 'bird', 'fish', 'ant', 'fly']
l[:3] # Till element 3, excluded

['cat', 'dog', 'bird']

In [0]:
l[3:] # From element 3 onwards

['fish', 'ant', 'fly']

In [0]:
l[1:3] # From element 1 included, to element 3 excluded

['dog', 'bird']

If you use negative numbers, they count backwards from the end of the list.  It's weird, but very useful.

In [0]:
l[-1] # This is the last element

'fly'

In [0]:
l[-2:] # From the penultimate onwards, so the last two.

['ant', 'fly']

One particularly nice thing about slicing is that it never generates errors.  If there's not enough of the list to slice it the way you want, you will simply get a smaller slice (of course, this means that the size of the resulting slice is not guaranteed).

In [0]:
l = ['a', 'b', 'c', 'd', 'e', 'f']
l[1000:]

[]

On the other hand, this does not work:

In [0]:
l[1000]

IndexError: ignored

### List operations

You append an element to a list like so:

In [0]:
l.append('spider')
l

['a', 'b', 'c', 'd', 'e', 'f', 'spider']

You can append two lists using `+`.

In [0]:
l + [1, 2, 3]

['a', 'b', 'c', 'd', 'e', 'f', 'spider', 1, 2, 3]

And as you can see from above, in Python the elements of a list don't have to be all of the same type (but of course, you better know what you are doing if you are mixing types: for instance, if you try to increment all list elements by 1 forgetting that you have non-numeric types in it, you would get an error).

There are many more list operations.  For instance:

You can 'pop' (retrieve, and remove) an element in any position:

In [0]:
x = l.pop(3)
x

'spider'

In [0]:
l

['a', 'b', 'c']

You can obtain the reverse of a list:

In [0]:
l.reverse()
l

['c', 'b', 'a']

And you can sort a list (the `sort` command has options; see the Python documentation):

In [0]:
l = l + ['cat']
l.sort()
l

['a', 'b', 'c', 'cat']

Let's look at a way to apply an operation to all elements of a list.

First, let's see how to capitalize a string.

In [0]:
"dog".capitalize()

'Dog'

Now I want to get a list like `l`, except with each string capitalized.  For this, I can use a Python feature called a _list comprehension_, which is written with square brackets (`[...]`).  The list comprehension iterates over the list `l` using `for s in l`, and for each element `s` in `l`, it produces something that goes into the result.

In [0]:
l_capitalized = [s.capitalize() for s in l]
l_capitalized

['A', 'B', 'C', 'Cat']

I can even add an `if` condition to a list comprehension.

In [0]:
[s.capitalize() for s in l if s.startswith("c")]

['C', 'Cat']

Or I could put the condition in a different place and add an `else` branch for a different result.

In [0]:
[s.capitalize() if s.startswith("c") else s for s in l]

['a', 'b', 'C', 'Cat']

You can get the length of a string, or a list, with the `len()` operator.

In [0]:
len(l)

4

In [0]:
len(l_capitalized)

4

In [0]:
[len(s) for s in l]

[1, 1, 1, 3]

See https://docs.python.org/3.8/tutorial/datastructures.html for more things you can do with lists.

In [0]:
mylist = [1, 2, 3, 4]
print(mylist)
mylist[0] = "cat"
print(mylist)

[1, 2, 3, 4]
['cat', 2, 3, 4]

### Tuples

Tuples are kind of like lists, except they are immutable.

Here's a way to represent two points in 2-D:

In [0]:
p1 = (1., 2.)
p2 = (3.1, 3.2)
p1

(1.0, 2.0)

Tuples are easy to take apart.  Whereas a Python beginner might write

In [0]:
x = p1[0]
y = p1[1]
x, y

(1.0, 2.0)

anyone with a bit of Python experience would instead write:

In [0]:
x, y = p1
x, y

(1.0, 2.0)

This "unpacks" the values in the tuple `p1` into the variables `x` and `y`.


Of course, the above works only if the tuple of variables on the left-hand side is the same length as the tuple on the right-hand side!

In [0]:
x, y, z = p2

ValueError: ignored

If you don't care about a component of a tuple, you can just use `_` (underscore) when unpacking.

In [0]:
x, _ = p1
x

1.0

## Strings

As mentioned above, strings can be built using either `'` or `"` as delimiters.  If you use `'`, the string can contain `"` inside, and vice versa.

In [0]:
s = 'A string'
t = "It's nice to be able to choose the delimiters"
u = 'She said "Hello!"'

You can use `+` to concatenate strings:

In [0]:
s + " " + t

"A string It's nice to be able to choose the delimiters"

You can split a string according to spaces:

In [0]:
l = t.split()
l

["It's", 'nice', 'to', 'be', 'able', 'to', 'choose', 'the', 'delimiters']

Or you can split it according to any character:

In [0]:
t.split('a')

["It's nice to be ", 'ble to choose the delimiters']

You can also put back a string you have split, using `.join()`. Yes, it's weird; had I invented the `.join` operation, I would have defined it as an operation on lists (rather than strings), so that one would write `l.join(' ')` rather than `' '.join(l)`.  But once you learn it, you get used to it.

In [0]:
' '.join(l)

"It's nice to be able to choose the delimiters"

A string can also be addressed as if it were a list of its characters, using indexing and slicing:

In [0]:
t[10:]

'to be able to choose the delimiters'

### Unicode and bytes

Strings in Python 3 are not merely sequences of bytes.  A byte would be able to encode only one of 256 characters, and there are many more than 256 characters in the world's languages.  So that people can write in their native languages (among many other reasons), Python 3 uses Unicode strings.

In [0]:
s = "Ouvrez la fenêtre, s'il vous plaît"
s

"Ouvrez la fenêtre, s'il vous plaît"

In [0]:
type(s)

str

If you have a Unicode string, you can "encode" its non-ASCII characters into a byte sequence, that is, a (non-Unicode) string.  Let's try it:

In [0]:
some_bytes = s.encode('utf8')
type(some_bytes)

bytes

The `utf8` above specifies the *encoding*, that is, the way in which the non-ASCII characters are encoded into bytes.  We will talk more about this later; for now, let's see what happened:

In [0]:
some_bytes

b"Ouvrez la fen\xc3\xaatre, s'il vous pla\xc3\xaet"

Here, `\xc3\xaa` is the byte encoding of `ê`, and `\xc3\xa` is the byte encoding of `î`.  You can go back from byte sequences (denoted by the little `b` at the front) to Unicode strings:

In [0]:
ut = some_bytes.decode('utf8')
ut

"Ouvrez la fenêtre, s'il vous plaît"

So basically, the same thing has two representations: one in "plain" Unicode, and one in encoded form as a byte sequence.  If you know the sequence of bytes for a Unicode character, you can build a byte sequence and decode it to get the character in a Unicode string:

In [0]:
more_bytes = b"Sleep well \xe2\x9d\xa4"
more_bytes.decode('utf8')

'Sleep well ❤'

The ❤ was obtained by decoding the hexadecimal sequence of bytes e2, 9d, a4 into the graphical symbol corresponding to that sequence, which happens to be a heart.

What is that `'utf8'` in the call to `decode` above?  It can be thought of as a table of correspondence between byte sequences and symbols, associating in this case the ❤ with the byte sequence e2, 9d, a4.  The reason we have to specify it is because there is more than one table of correspondence, and which one we use matters:

In [0]:
s.encode('utf-8')

b"Ouvrez la fen\xc3\xaatre, s'il vous pla\xc3\xaet"

In [0]:
s.encode('iso-8859-1')

b"Ouvrez la fen\xeatre, s'il vous pla\xeet"

If you have some text encoded using one encoding and you try to decode it using a different one, bad things can happen:

In [0]:
some_other_bytes = s.encode('iso-8859-1')
some_other_bytes.decode('utf-8')

UnicodeDecodeError: ignored

So you need to know which encoding is used.  To make things worse, on the internet, when somebody sends you a message, they often don't tell you which encoding they are using, or they simply lie or get it wrong.  So the sad truth is that you typically hope that whoever sends you bytes (because bytes are all that can be sent over a wire) either uses utf-8, or tells you the encoding honestly.

Oh, the default in Python is utf-8, so you can omit it in calls to `encode` and `decode`:

In [0]:
some_bytes.decode()

"Ouvrez la fenêtre, s'il vous plaît"

### More on bytes

The implementation of bytes in Python 3 suffers from some truly unfortunate problems.  For instance, you can slice bytes just fine:

In [0]:
some_bytes[0:9]

b'Ouvrez la'

But if you ask for a single byte, you get -- surprise! -- an integer!

In [0]:
some_bytes[8]

97

In no other case is the type of slice elements different from the type of individually-indexed elements.

## Dictionaries

Dictionaries in Python can be thought of as sets of key-value pairs, with the requirement that the keys are unique within a given dictionary.

In [0]:
n_of_paws = {'cat': 4, 'fish': 0, 'bird': 2, 'snake': 0,}
n_of_paws['cat']

4

Dictionaries can be indexed with `[]` notation like list indexing, except they are indexed by their keys, not by integers.

In [0]:
n_of_paws['antelope']

KeyError: ignored

You can also build a dictionary like this:

In [0]:
d = dict(dog=4, cat=4, bird=2, fish=0)
d

{'bird': 2, 'cat': 4, 'dog': 4, 'fish': 0}

If you are not sure whether a key is in the dictionary, you can use `.get()` rather than `[]`:

In [0]:
n_of_paws.get('fish')

0

In [0]:
x = n_of_paws.get('elephant')
print(x)

None

You can check whether something is in a dictionary with the `in` operator:

In [0]:
"elephant" in n_of_paws

False

In [0]:
"cat" in n_of_paws

True

Let's define a dictionary mapping names to nicknames, and let's define a function that, given a name, returns the nickname, if there is one, and otherwise the name.

In [0]:
nicks = {'Robert': 'Rob', 'Zachary': 'Zac'}

def to_nick(n):
    nn = nicks.get(n)
    # Below, we are using an in-line conditional; more on this later. 
    return n if nn is None else nn

In [0]:
to_nick('Robert')

'Rob'

In [0]:
to_nick('Helen')

'Helen'

This also shows why `None` is so useful.

Let's do another example.  Suppose you are given a list of animals:

In [0]:
animals = ['pig', 'donkey', 'chicken', 'cat', 'dog', 'snake']

Now you want to build a second list, containing the number of paws of each:

In [0]:
my_paws = [n_of_paws.get(a) for a in animals]
my_paws

[None, None, None, 4, None, 0]

#### Dictionary keys, values, and key-value pairs

You can ask for the list of keys of a dictionary:

In [0]:
n_of_paws.keys()

dict_keys(['cat', 'fish', 'bird', 'snake', 'ant', 'centipede'])

What's that `dict_keys` thing?  It turns out that in Python 3,
`keys()` returns a _view_ over the dictionary keys.  The view is dynamically updated to reflect changes in the underlying dictionary:

In [0]:
the_keys = list(n_of_paws.keys())
the_keys

['cat', 'fish', 'bird', 'snake', 'ant', 'centipede', 'anteater']

In [0]:
n_of_paws['anteater'] = 6 # with apologies to entomologists...
the_keys

['cat', 'fish', 'bird', 'snake', 'ant', 'centipede', 'anteater']

For more on views, see, e.g., https://docs.python.org/3/library/stdtypes.html#dict-views

The trouble with `keys()` returning a view is that the notion of view creates a _concealed dependency_ between two distinct variables: in our case, the dictionary `n_of_paws` and the variable `the_keys`.  Concealed dependencies are a common source of errors in programs.

The view is fine for iterating over (we will cover iteration in more detail later):

In [0]:
for k in n_of_paws.keys():
    print("I have a key:", k)

I have a key: cat
I have a key: fish
I have a key: bird
I have a key: snake
I have a key: ant

But do yourself a favor, and unless you are super sure of what you are doing (and I would argue, even if you think you are), never assign views to variables; convert them first to standard lists in order to remove the concealed dependency:

In [0]:
my_keys = list(n_of_paws.keys())
my_keys

['cat', 'fish', 'bird', 'snake', 'ant']

In [0]:
n_of_paws['centipede'] = 30 # True for some centipedes
my_keys

['cat', 'fish', 'bird', 'snake', 'ant']

In addition to `.keys()`, you can also use `.values()` to get a dictionary's values, with the same caveat about the view having a concealed dependency:

In [0]:
n_of_paws.values()

dict_values([4, 0, 2, 0, 6, 30])

Much more useful is to have the key-value pairs, which we can get using `.items()`.  It returns a view of a list of tuples.

In [0]:
list(n_of_paws.items())

[('cat', 4),
 ('fish', 0),
 ('bird', 2),
 ('snake', 0),
 ('ant', 6),
 ('centipede', 30)]

Recall our list of animals from earlier:

In [0]:
animals

['pig', 'donkey', 'chicken', 'cat', 'dog', 'snake']

How can we use `animals` and `n_of_paws` to create a dictionary that maps each entry in `animals` to its number of paws?

In [0]:
my_paws = {a : n_of_paws.get(a) for a in animals}
my_paws

{'cat': 4,
 'chicken': None,
 'dog': None,
 'donkey': None,
 'pig': None,
 'snake': 0}

What we did above is a _dictionary comprehension_.  It works similarly to a list comprehension, but uses the syntax `{k : v for ...}` to build the dictionary.  

What if you want in the dictionary only things that do not map to `None`?  You can add an `if` clause to the comprehension:

In [0]:
my_known_paws = {a : n_of_paws.get(a) for a in animals if a in n_of_paws}
my_known_paws

{'cat': 4, 'snake': 0}

As you can see, comprehensions are a powerful language feature that enables concise and readable code.

## Sets

Sets are data structures that represent... sets.  Sets are like lists, except that they cannot have repeated elements.

In [0]:
s = set() # {} would be a dictionary... 
s

set()

In [0]:
set1 = {'cat', 'dog'}
set2 = {'bird', 'mouse', 'cat'}
set3 = {'dog', 'cat'}

We can take union, intersection, and difference of sets:

In [0]:
set1 | set2 # union

{'bird', 'cat', 'dog', 'mouse'}

In [0]:
set1 & set2 # intersection

{'cat'}

In [0]:
set1 - set2 # difference

{'dog'}

Set equality is defined as element-wise equality (order does not matter):

In [0]:
set1 == set3

True

We can add elements to a set...

In [0]:
set1.add('duck')
set1

{'cat', 'dog', 'duck'}

In [0]:
set1.add('dog')
set1

{'cat', 'dog', 'duck'}

...and as you can see, since sets have no repeated elements, if you add a dog to a set containing already a dog, nothing changes.

We can test membership using `in`, just like for lists:

In [0]:
'cat' in set1

True

In [0]:
'opossum' in set1

False

A quick way to remove duplicates from a list is to turn it into a set, then back into a list.  This loses the ordering, though, as sets do not preserve the order of the elements of the lists from which they were created:

In [0]:
l = ['a', 'b', 'c', 'g', 'c', 'd', 'f', 'g']
l_set = set(l)
l_set
l_uniq = list(l_set)
l_uniq

['d', 'a', 'g', 'b', 'c', 'f']

If you want to preserve the ordering, then you can use iteration (covered later) and do as follows:

In [0]:
l_uniq = [] # list
occurrences = set() # set
for s in l:
    if s not in occurrences:
        l_uniq.append(s) # list append
        occurrences.add(s) # set add
l_uniq

['a', 'b', 'c', 'g', 'd', 'f']

## Conditionals

You can build boolean expressions with the usual comparison operators `<`, `<=`, `>`, `>=`, `==`, and `!=`.

In [0]:
3 < 4

True

There are also other operators that yield boolean values.  One is `in`, to test membership in lists or dictionaries or sets or strings:

In [0]:
'a' in ['a', 'b', 'c']

True

In [0]:
'a' in 'hello my dear'

True

In [0]:
'z' not in 'hello my dear'

True

Another one is `is` (and `is not`), to check whether two things are identical most often used for `None`.  Here's one way of removing `None` elements from a list, preserving order:

In [0]:
[a for a in [1, 2, 3, None, 4] if a is not None]

[1, 2, 3, 4]

Boolean expressions enable conditional execution:

In [0]:
for x in range(10):
    if x % 2 == 0: # The % is the modulus operator.
        print(x, "is even")
    else:
        print(x, "is odd")
    if x % 3 == 0:
        print(x, "is a multiple of 3")
    elif x % 3 == 1:
        print(x, "is 1 above a multiple of 3")
    else:
        print(x, "is 1 below a multiple of 3")

0 is even
0 is a multiple of 3
1 is odd
1 is 1 above a multiple of 3
2 is even
2 is 1 below a multiple of 3
3 is odd
3 is a multiple of 3
4 is even
4 is 1 above a multiple of 3
5 is odd
5 is 1 below a multiple of 3
6 is even
6 is a multiple of 3
7 is odd
7 is 1 above a multiple of 3
8 is even
8 is 1 below a multiple of 3
9 is odd
9 is a multiple of 3

The above use of `if` is a _statement_, but Python also has conditional _expressions_, which use the following syntax:

In [0]:
x = 3
y = x + 1 if x % 2 == 0 else x + 2
y

5

This can be very handy in list comprehensions:

In [0]:
[x if x % 2 == 0 else -x for x in range(10)]

[0, -1, 2, -3, 4, -5, 6, -7, 8, -9]

## Iteration

In languages like Fortran and C, when you iterate, you have to have a counter, increment it, and all that stuff.  Yeech.

Not so in Python.  You iterate over something that is _iterable_, that is, that has (or can produce) a sequence of elements.  Like... a list!

In [0]:
my_words = "I like to eat pizza with anchovies, I actually do!".split()
my_words
for w in my_words:
    print("My word is:", w)

My word is: I
My word is: like
My word is: to
My word is: eat
My word is: pizza
My word is: with
My word is: anchovies,
My word is: I
My word is: actually
My word is: do!

You can also iterate over pairs, consisting of the element index and the list element:

In [0]:
for i, w in enumerate(my_words):
    print("The word number", i, "is:", w)

The word number 0 is: I
The word number 1 is: like
The word number 2 is: to
The word number 3 is: eat
The word number 4 is: pizza
The word number 5 is: with
The word number 6 is: anchovies,
The word number 7 is: I
The word number 8 is: actually
The word number 9 is: do!

If you get tired of iteration, you can break out of it:

In [0]:
for w in my_words:
    print(w)
    if w.startswith('anchovies'):
        print("   Indeed, they are delicious, no need to say more!")
        break

I
like
to
eat
pizza
with
anchovies,
   Indeed, they are delicious, no need to say more!

And if you need to iterate over indices, like you used to do in C?  You can use `range(...)`, which returns an iterable object representing a sequence of numbers:

In [0]:
for i in range(10):
    print("My integer is:", i)

My integer is: 0
My integer is: 1
My integer is: 2
My integer is: 3
My integer is: 4
My integer is: 5
My integer is: 6
My integer is: 7
My integer is: 8
My integer is: 9

In Python 2, `range(...)` returned a list.  In Python 3, it returns an iterable object of `range` type:

In [0]:
type(range(10))

range

This is nice because if you want to do a large number of iterations, like, say, a billion, you can efficiently create a `range` object with no problem in Python 3, whereas in the bad old days with Python 2, calling `range(1, 1000000000)` would build a list of a billion elements and possibly run out of memory.

In [0]:
range(1, 10000000000)

range(1, 10000000000)

You can also iterate on list slices:

In [0]:
for w in my_words[:5]:
    print(w)

I
like
to
eat
pizza

As you've probably noticed, Python uses indentation rather than beginning and ending brackets (`{` and `}`) to group statements together.  So indentation is semantically meaningful in Python, unlike in, say, C or Java.

As we saw earlier, if you have a dictionary, you can iterate over its keys using `.keys()`...

In [0]:
for k in n_of_paws.keys():
    print ("I have a", k)

I have a cat
I have a fish
I have a bird
I have a snake
I have a ant
I have a centipede
I have a anteater

...or over its key-value pairs using `.items()`:

In [0]:
for k, v in n_of_paws.items():
    print("A", k, "has", v, "paws")

A cat has 4 paws
A fish has 0 paws
A bird has 2 paws
A snake has 0 paws
A ant has 6 paws
A centipede has 30 paws
A anteater has 6 paws

There is also a `while` statement, which works as usual:

In [0]:
x = 3.
while x > 1.1:
    print(x)
    x = x / 1.6
print("The final result is:", x)

3.0
1.875
1.171875
The final result is: 0.732421875

## Functions

We can introduce a function definition with `def`:

In [0]:
def addone(x):
    return x + 1

addone(3)

4

In [0]:
def add_one_to_prod(x, y):
    """This function adds one to the product of x and y,
    and this is how you are supposed to document what a 
    function does."""
    p = x * y
    return p + 1

In [0]:
add_one_to_prod(3, 3)

10

As is traditional, we must now write the factorial function:

In [0]:
def factorial(n):
    # Assertions are useful to check that the values passed to a function make sense.
    # These assertions cause an error if not satisfied.  Try it! 
    assert type(n) is int, "n is not an integer!"
    assert n > 0, "n is not positive!"
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)
    
factorial(4)

24

Here is Euclid's algorithm for finding the greatest common divisor (GCD) of two numbers:

In [0]:
def gcd(n, k):
    assert type(n) is int and type(k) is int # I am being fussy
    assert n >= 0 and k >= 0
    if n < 2: # Case for 0, 1
        return k
    else:
        return gcd(k % n, n)

gcd(342, 54)

18

Note that in the algorithm above, in the first call it might be the case that `n > k`, but in all other calls, `n <= k` (why?).

A nice feature of Python is that functions can have _optional arguments_, which have a default value.

In [0]:
def incadd(x, d=1):
    return x + d

incadd(3, d=4)

7

In [0]:
incadd(3)

4

Often, the optional argument has default value `None`.  Functions, by the way, can be passed as arguments to other functions, just like any other values can.  Let's try this.

First, we'll define a function `square` that squares a number:

In [0]:
def square(x):
    return x * x

Now we can define another function that takes an optional argument callled `modifier_function`:

In [0]:
def inc_then_modify(x, modifier_function=None):
    """Adds 1 to x, then applies modifier_function if any,
    and returns the result."""
    y = x + 1
    return y if modifier_function is None else modifier_function(y)

In [0]:
inc_then_modify(2)

3

In [0]:
inc_then_modify(2, modifier_function=square)

9

## Printing, string formatting, and file input/output

We have seen that the `print()` function takes any number of arguments, and prints them with intervening spaces:

In [0]:
print("I have", 3, 'chickens')

We can also use `{}` and `.format()` to specify a string with `{}` holes, which are filled by the arguments of `.format()`:

In [0]:
"I have {} chickens".format(3)

In [0]:
"{} is divisible by {}".format(10, 2)

You can also use formatting options to specify the number of digits to print for floating point numbers, etc.

In [0]:
"A gazillion is {:.2f}% less than a bazillion".format(15.67980)

For file input/output, you can open files for writing like this:

In [0]:
with open('myfile', 'w') as f:
  f.write("hello")

The second argument to `open()` is the _mode_, which specifies what we can do with the file we are opening.  In this case, we are opening the file in order to write to it, so we specify `'w'` as the mode.

When we open a file using a `with` statement like this, we don't need to explicitly close the file when we are done; it is closed as soon as we go out of the scope of the `with` statement.

If we don't specify a mode, the default is `'r'` for reading.  Let's read the file we just wrote to:

In [0]:
with open('myfile') as f:
    s = f.read() # This reads the file in a single shot
s

You can also read files one line at a time by iterating over them:

In [0]:
with open('mylongfile', 'w') as f:
    f.write('hello\n')
    f.write('there!\n')
with open('mylongfile') as g:
    for s in g:
        print(s)

## Importing modules

Python libraries are organized in _modules_.  You need to import a module before you can use things defined in it:

In [0]:
import math
math.sqrt(3.)

If you like, you can also import individual functions from libraries.

In [0]:
from math import sqrt as square_root
square_root(2.)

One of the things that makes Python great is the huge set of modules that are available for it.  You can look at https://docs.python.org/3/library/ for information about the Python standard library, but there is a very large number of modules besides the standard library.  The general rule is, before you try to implement something, look at whether there is a module available that does (part of) what you want to do.  (Unless we're explicitly asking you to implement something as part of homework, that is.)

## Exceptions

When things go wrong, Python raises an _exception_.  You can catch it and handle it using a `try` statement:

In [0]:
try:
    x = 34 / 'a'
except TypeError:
    print("Oops!")

The module `traceback` is very useful to figure out where exceptions happen, and what happened:

In [0]:
import traceback
try: 
    x = 34 / 'a'
except:
    print(traceback.format_exc())

You can also create your own exceptions by defining an _exception class_ (classes are further discussed below):

In [0]:
class Indigestion(Exception):
    pass

def eat(m, l):
    if len(l) > 2:
        raise Indigestion()
    return m + l

l = ['eggs', 'bacon', 'peanuts']

try:
    eat(['bananas'], l)
except Indigestion:
    print("Hey, that's too much.")

## Classes

The [Python tutorial](https://docs.python.org/3/tutorial/classes.html) has a nice explanation of what classes do in Python:

> Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by its class) for modifying its state.

Here's a simple example of a class representing an item that might be in a shopping cart.  Items have a name, a price, and a quantity, and you can do a few things with them, as defined by the methods in the class:

In [0]:
class CartItem:
    
    def __init__(self, name, price=0., quantity=0):
        """In the initializer, you should define the attributes that each
        instance of an object will have.  Here, 'self' means the object."""
        self.name = name 
        self.price = price
        self.quantity = quantity
        
    def __repr__(self):
        """Represents a class element in a reasonable way.
        Note the use of .format() below to help produce a string."""
        return "Hello, I am a {} and cost ${}; you have {} of me".format(
            self.name, self.price, self.quantity
        )       
    
    def inflate_price(self, x):
        """Increases the price by a factor x.
        Note how self is always the first argument of methods; otherwise,
        you would not know to which object to apply the operations."""
        self.price *= x
        
    def value(self):
        """Total value of products of this type."""
        return self.price * self.quantity

Let's make a list of items that might be in a shopping cart:

In [0]:
cart = [
    CartItem('Pear', price=1.99, quantity=10),
    CartItem('Apple', price=0.99, quantity=15),
    CartItem('Onion', price=1.49, quantity=57)
]

We can print the contents of our cart full of `CartItems`s; the `__repr__` method in the `CartItem` class determines what we get when we print each item.

In [0]:
for item in cart:
    print(item)

What if you want to buy more stuff?  The proper way would be to define a `buy` method in the `CartItem` class, and write something like `p.buy(10)` to buy 10 more of product `p`.  But in Python, there is nothing to prevent you from accessing object variables directly.

In [0]:
def double_the_cart(c):
    for p in c:
        p.quantity *= 2
        
double_the_cart(cart)

def print_cart(c):
    for p in c:
        print(p)
        
print_cart(cart)

We've only scratched the surface of what there is to say about classes in Python; see the [Python docs](https://docs.python.org/3/tutorial/classes.html) for more.

## A simple event simulator

Let's try to put everything we've learned together and design a simple _event simulator_.  This might be useful for implementing, say, a game or a physics simulation.

In our simulator, every event will have a time at which it happens.  When it happens, it will generate two things: a string that is printed, and a list (possibly empty) of subsequent events. 

Let us write the code for three event types: one that occurs only once (we'll call these _once-only events_), one that occurs periodically with a certain delay between occurrences forever (we'll call these _infinite periodic events_), and one that occurs periodically, but has a specified maximum number of occurrences (we'll call these _periodic events_).

Before we do it, let's define a handy `sign` function that tells you the sign of a number.

In [0]:
def sign(x):
    if x < 0:
        return -1
    elif x > 0:
        return 1
    else:
        return 0

Now let's define a `GenericEvent` class.  This class will be a _superclass_ of the three different event classes that we really want (for once-only events, infinite periodic events, and periodic events).

In [0]:
class GenericEvent:
    
    def __init__(self, name, time):
        self.name = name
        self.time = time
        
    def __repr__(self):
        return "Event '{}' of type {} will occur at {}".format(
            self.name,
            type(self),
            self.time.isoformat()
        )
    
    def __lt__(self, other):
        """To sort events according to their time, we need to 
        implement the __lt__ operator.  This will be used by heapq later.""" 
        return self.time < other.time        
    
    def _effect(self):
        """In Python, methods that are supposed to be accessed only within
        the class are prepended with _.  Note that this is just a convention;
        nothing prevents you from calling these methods from outside the class.
        """
        print("At {}: {}".format(self.time.isoformat(), self.name))
        
    def do(self):
        """We'll leave this unimplemented and instead define what happens in
        each subclass."""
        raise NotImplementedError

Let's create a `GenericEvent` and see what it looks like:

In [0]:
# We need the datetime module to process times.
import datetime
e = GenericEvent('Sun shines', datetime.datetime.now() + datetime.timedelta(hours=1))
e

Now let's define a class for once-only events.  This class will _inherit from_ the `GenericEvent` class, so we don't have to redefine the methods of `GenericEvent` here.

The `do` method of `OnceOnlyEvent` just calls the `_effect()` method from `GenericEvent` and returns an empty list `[]`.

In [0]:
class OnceOnlyEvent(GenericEvent):
    """OnceOnlyEvent extends GenericEvent, and so it inherits all of its
    methods, including __repr__, __comp__, _effect."""
    
    def __init__(self, name, time):
        # We simply define an element of the superclass.
        # Here, super() is the Python way for getting
        # access to the superclass methods from a subclass. 
        super().__init__(name, time)
        
    def do(self):
        self._effect()
        # No other events are generated.
        return []

Now we'll define the `InfinitePeriodicEvent` class, which also inherits from `GenericEvent`.  This one is more interesting because in addition to the attributes of name and time, we also want to keep track of the event's _periodicity_, or how much time there is between occurrences of the event.

In [0]:
class InfinitePeriodicEvent(GenericEvent):
    """This is a periodic event."""
    
    def __init__(self, name, time, periodicity):
        """time is a datetime object; periodicity is expressed as a timedelta object."""
        super().__init__(name, time)
        self.periodicity = periodicity
        
    def do(self):
        self._effect()
        # Generates and returns the next occurrence of the event.
        next_event = PeriodicEvent(
            self.name, 
            self.time + self.periodicity,
            self.periodicity
        )
        return [next_event]

Let's create one of these events and look at it!

In [0]:
ipe = InfinitePeriodicEvent('Sun rises',
                            datetime.datetime.now(),
                            datetime.timedelta(hours=24))
ipe

Finally, we can define a class for periodic events that can have a maximum number of occurrences.

In [0]:
class PeriodicEvent(GenericEvent):
    """This is a periodic event like above, except that it has
    an optional maximum number of occurrences."""
    
    def __init__(self, name, time, periodicity, num_occurrences=None):
        """
        Let's document this constructor a bit better.
        @param name: name of the event.
        @param time: time of first occurrence of the event (datetime object).
        @param periodicity: periodicity of the event (timedelta object).
        @param num_occurrences: number of future occurrences of the event.
            If None, then infinite future occurrences can happen.
        """
        assert num_occurrences is None or num_occurrences > 0
        # We don't want to go back in time!
        assert periodicity.total_seconds() > 0.
        super().__init__(name, time)
        self.periodicity = periodicity
        self.num_occurrences = num_occurrences
        
    def do(self):
        self._effect()
        # Generates and returns the next occurrence of the event.
        if self.num_occurrences is None or self.num_occurrences > 1:
            return [PeriodicEvent(
                self.name, 
                self.time + self.periodicity,
                self.periodicity,
                num_occurrences = None if self.num_occurrences is None 
                                  else self.num_occurrences - 1
            )]
        else:
            return []

Now, let's define our discrete event simulator.  It will be a class, have a method to add new events to it, and it will have a method `step`, which causes the next event to occur. 

In order to quickly determine which one is the next event, 
we will store events in a priority queue.  This is implemented via the `heapq` Python module, whose documentation is at https://docs.python.org/2/library/heapq.html.

In [0]:
import heapq # Implementation of a priority queue in Python.
             # This is what uses the __lt__ method of events.

class EventSimulator(object):
    
    def __init__(self, event_list=[]):
        self.event_heap = event_list
        # We transform the event list into a heap.
        heapq.heapify(self.event_heap)
        
    def add_event(self, e):
        """Adds an event e, maintaining the heap invariant."""
        heapq.heappush(self.event_heap, e)
        
    def step(self):
        """Performs one step of the event simulator."""
        # Gets the first event.
        e = heapq.heappop(self.event_heap)
        # Causes e to happen.
        generated_events = e.do()
        # And inserts the resulting events into the heap of future events.
        for ge in generated_events:
            self.add_event(ge)

That's all there is to the event simulator.  Now let's see how it works.  We'll create a couple of events that happen only once:

In [0]:
now = datetime.datetime.now()
ten_secs = datetime.timedelta(seconds=10)
twentyfive_secs = datetime.timedelta(seconds=25)

once1 = OnceOnlyEvent("once1", now + ten_secs)
once2 = OnceOnlyEvent("once2", now + twentyfive_secs)

Let's also define two periodic events, one with 10 occurrences, the other with infinite occurrences.

In [0]:
two_secs = datetime.timedelta(seconds=2)
three_secs = datetime.timedelta(seconds=3)

periodic1 = PeriodicEvent("periodic1", now + ten_secs, two_secs, num_occurrences=10)
periodic2 = PeriodicEvent("periodic2", now + twentyfive_secs, three_secs)

And now we can create our event simulator:

In [0]:
sim = EventSimulator([once1, once2, periodic1, periodic2])

Now that we have `sim`, we can start calling its `step()` method and seeing what happens:

In [0]:
sim.step()

What's in the event queue to happen next?  Let's peek at it to find out:

In [0]:
sim.event_heap

Let's do 20 steps now, and then peek at the event queue again:

In [0]:
for _ in range(20):
    sim.step()
sim.event_heap

Since the event queue is part of the `sim` object's state, if we run the above cell again, we'll get different results (try it!).